container {
    flex-grow: 1;
}

card {
    flex-grow: 1;
    margin-top: 10px;
}

buttons {
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

buttonScan {

    flex-direction: row;
    flex-grow: 1;

    width:100%;

    align-items: center;
    justify-content: center;
    
}

preview {
    flex-grow: 1;
}

scan {
    flex-grow: 2;
    justify-content: center;
    align-items: center;
}

texto {
    flex-grow: 0.5;
    justify-content: center;
    align-items: center;
}

textoAuxiliar {
    flex-direction: row;
    align-items: center;
    text-align: center;
    width:70%;
}

fab {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

input {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}