container {
    flex-grow: 1;
}

card {
    flex-grow: 1;
    margin-top: 10px;
}

buttons {
    flex-direction: row;

    margin-top: 20px;
    margin-bottom: 40px;

    justify-content: space-evenly;
}

buttonScan {

    flex-direction: row;
    flex-grow: 1;

    align-items: center;
    justify-content: center;
    
}

preview {
    flex-grow: 1;
}

scan {
    flex-grow: 2;
    justify-content: center;
    align-items: center;
}

input {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}