container {
    flex-grow: 1;
    margin:10px
}

geral {
    padding: 5px;
}

sub {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

center {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

title {
    padding: 5px;
    margin-top: 8px;
    margin-bottom: 5px;
}

tempo {
    flex-direction: row;
    flex-grow: 1;
}

error {
    margin: 0 5px 5px 2px;
}

input{
    margin-top: 8px;
}

inputDate {
    flex-direction: row;
    flex-grow: 1;
    margin-right: 5px;
    margin-top: 8px;
    margin-bottom: 3px;
}

inputTime {
    flex-direction: row;
    flex-grow: 1;
    margin-top: 8px;
    margin-bottom: 3px;
}

buttons {
    flex-direction: row;
    flex-grow: 1;

    margin-top: 20px;
    margin-bottom: 20px;

    justify-content: space-evenly;
}