container {
    flex-grow: 1;
}

tempo {
    flex-direction: row;
    flex-grow: 1;
}

inputDate {
    flex-direction: row;
    flex-grow: 1;
}

geral {
    flex-grow:1;
}

inputTime {
    flex-direction: row;
    flex-grow: 1;
}
